body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color: #80BD9E;*/
    background-image: url('../Images/background.jpg');
    /*background-position: center;*/
    background-size: 100%;
    /*background-image: url('../Images/bodyBackground.png');*/
}
.navbar {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.3);   
    /*background-color: transparent;*/
    border-bottom: 1px solid white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.nav-element {
    color: darkslateblue;
}
.nav-text {   
    color: #2a2a2a !important;
    font-weight: bold;
   
    /*font-style: italic;*/
}